body{
    background-color: #f2f2f2;
}
.message{
    font-family: 'Saira Semi Condensed', sans-serif;
}
.logo{
    font-family: 'Rubik Doodle Shadow', system-ui;
}
.welcome {
    font-family: 'Fugaz One', sans-serif;
}
.addtitle{
    font-family: 'Russo One', sans-serif;
}

.title {
    font-family: 'Black Ops One', system-ui;
}
.description {
    font-family: 'Roboto Slab', serif;
}
.buttons {
    font-family: 'Kanit', sans-serif;
}
.require::after {
    content: "*";
    color:#ff1a1a;
    margin-left: 2px;
}

#noteCreateMsg,#success,#alreadyInFav,#addToFavourite {
    display: none;
    width: 100%;
    visibility: hidden;
    position: fixed;
    top: -0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
}

#noteCreateMsg.show,#success.show,#alreadyInFav.show,#addToFavourite.show {
    visibility: visible;
    transform: translateY(0);
}   

.rating {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.bx-star {
    color: #000000; /* Yellow color for the star */
}

.bxs-star {
    color: #f39c12; /* Golden color for the filled star */
}

@keyframes scrollRightToLeft {
    0% {
        transform: translateX(97rem);
    }

    100% {
        transform: translateX(70rem);
    }
}


@keyframes pingIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.ping-animation-open {
    animation: pingIn 0.4s linear 1;
}


@keyframes pingOut {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}
.ping-out {
    animation: pingOut 0.4s linear 1;
}

@keyframes pingInOut {
    0% {
        transform: scale(0.6) rotate(0deg);
    }
    50% {
        transform: scale(1) rotate(180deg);
    }
    100% {
        transform: scale(0.6) rotate(360deg);
    }
}

.pingInOut {
    animation: pingInOut 1.7s  linear infinite;
}

@keyframes openSideBar {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.sidebar-open {
    animation: openSideBar 0.4s ease-in-out;
}
@keyframes closeSideBar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.sidebar-close {
    animation: closeSideBar 0.4s ease-in-out;
}

@keyframes scrollTopToDown {
    0% {
        transform: translateY(-8rem);
    }
}
.scrollTopToDown {
    animation: scrollTopToDown 0.7s linear 1;
}


@keyframes menuOpen {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.menu-open{
    animation: menuOpen 0.5s linear 1;
}

@keyframes menuClose {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.menu-close{
    animation: menuClose 0.5s linear 1;
}

@media (max-width:399px) {
    .popUp {
        top:12rem;
    }
}

@media (min-width:400px) {
    .popUp{
        top:21rem;
    }
}

/* .card-title[title]:hover::after{
    content: attr(title);
    color: black;
    background-color: #d9d9d9;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 95%;
    left: 0;
    width: 100%;    
    border: 3px solid black;
    z-index: 1;
    animation: menuOpen 0.5s linear 1;
} 

.card-text:hover::after{
    content: attr(title);
    color: black;
    background-color: #d9d9d9;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 28%;
    overflow-wrap: break-word;
    left: 0;
    width: 100%;    
    border: 3px solid black;
    z-index: 1;
    animation: menuOpen 0.5s linear 1;
} */

/* media query for hover full title */
/* @media (max-width: 640px) {
    .card-title[title]:hover::after
     {
        animation: menuOpen 0.5s linear 1;
        width: 100%;    
        top: -2rem;
        overflow: auto;
        border: 3px solid black;
    }
} */

/* media query for hover full description */
/* @media (max-width: 640px) {
    .card-text[title]:hover::after
     {
        animation: menuOpen 0.5s linear 1;
        width: 100%;    
        bottom: 3rem;
        overflow: auto;
        border: 3px solid black;
    }
} */

/* .noteCard {
    position: relative;
    display: inline-block;
}

.card-title[title]:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.noteCard:hover .card-title[title]:hover::after {
    display: block;
}

.card-text[title]:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    padding: 5px;
    
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.noteCard:hover .card-text[title]:hover::after {
    display: block;
} */

.addButton:active{
    transform: scale(0.9);

}
.search:focus {
    outline: none; /* Remove default outline */
    outline: 2px solid #8a3ab9; /* Set custom outline */
    outline-offset: 2px; /* Adjust outline offset if needed */
}

.home:hover{
    color: #ff1a1a;
}